Source: site-compatibility
Section: utils
Priority: optional
Maintainer: HamoniKR <pkg@hamonikr.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 1.9.4

Package: site-compatibility
Architecture: all
Depends:
Homepage: https://hamonikr.org
Description: 웹사이트 호환성 및 공인인증서 사용 지원을 위한 패키지
